<div class="item-content">
  <h3>{{brewery?.name}}</h3>
  <hr>
  <div class="data">id {{brewery?.id}}</div>
  <div class="data">brewery type {{brewery?.brewery_type}}</div>
  <div class="data">street {{brewery?.street}}</div>
  <div class="data">city {{brewery?.city}}</div>
  <div class="data">state {{brewery?.state}}</div>
  <div class="data">postal_ ode {{brewery?.postal_code}}</div>
  <div class="data">country {{brewery?.country}}</div>
  <div class="data">longitude {{brewery?.longitude}}</div>
  <div class="data">latitude {{brewery?.latitude}}</div>
  <div class="data">phone {{brewery?.phone}}</div>
  <div class="data">website url {{brewery?.website_url}}</div>
  <div class="data">updated at {{brewery?.updated_at}}</div>
</div>
