footer {
  position: fixed;
  height: 35px;
  bottom: 0;
  background-color: var(--primary-color);
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  color: var(--alt2-text-color);
}