header {
  height: 60px;
  background-color: var(--primary-color);
  padding: 4px;
  color: var(--alt2-text-color);

}
.logo {
  float: left;
  width: 152px;
  margin-left: 6px;
}
.logo img { 
  width: 52px;
  float: left;
}

.logo_typeface {
  float: left;
  margin: 16px 0 0 10px;
}

nav ul {
  list-style-type: none;
  margin: 6px 0 6px 40px;
  padding: 0;
  float: left;
  
}
nav a, nav li {
  color: var(--text-color);
}
nav li {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  background-color: rgba(0,0,0,0.3);
  transition: all .4s ease-in-out;
}
nav li:hover {
  background-color: rgba(0,0,0,0.5);
}

.search {
  margin: 13px 40px 6px 0;
  float: right;
}