header {
  height: 60px;
  background-color: #3f51b5;
  padding: 4px;
  color: #fff;

}
.logo {
  float: left;
  width: 152px;
  margin-left: 6px;
}
.logo img { 
  width: 52px;
  float: left;
}

.logo_typeface {
  float: left;
  margin: 16px 0 0 10px;
}

nav ul {
  list-style-type: none;
  margin: 6px 0 6px 40px;
  padding: 0;
  float: left;
  
}
nav li {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  background-color: rgba(0,0,0,0.3);
}
nav li:hover {
  background-color: rgba(0,0,0,0.5);
}

.search {
  margin: 6px 40px 6px 0;
  float: right;;
}