.item-content {
  position: relative;
  box-sizing: border-box;
  color: var(--text-color);
  width: 200px;
  height: 200px;
  max-height: 200px;
  overflow: hidden;
  margin: 25px;
  padding: 10px 30px 10px 10px;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 12px 9px 5px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 12px 9px 5px 0px rgba(63, 81, 181, 0.47);
  box-shadow: 12px 9px 5px 0px rgba(0, 0, 0, 0.47);
}
.item-content:hover {
  -webkit-box-shadow: 8px 6px 5px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 8px 6px 5px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 8px 6px 5px 0px rgba(0, 0, 0, 0.47);
  cursor: pointer;
}
.item-content:hover h3 {
  color: var(--primary-color);
}
.favourite {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 27px;
  background-color: white;
}
.favourite i {
  padding: 3px;
  border-radius: 50%;
}
.favourite i:hover {
  background-color: lightgray;
}

.icons i,
.icons svg {
  color: var(--alt2-text-color);
  width: 25px;
}
.fav_icon {
  background-color: white;
}
.fav_icon.faved {
  background-color: gold;
}

h3 {
  height: 82px;
  overflow: hidden;
}
.data {
  margin-top: 10px;
}
