/* Global css  */
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap");

:root {
  --primary-color: #d45400;
  --header-color: #0e282f;
  --secondary-color: #0e282f;
  --tertiary-color: #ffffff;
  --text-color: #0e282f;
  --alt1-text-color: #ffffff;
  --alt2-text-color: #ffffff;
  --menu-bg-color: #356c7b;
  --menu-bg-hover-color: #205866;
}

body.custom {
  margin: 0;
  background-color: var(--primary-color);
  // font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.main {
  min-height: 100%;
}

hr {
  border: 0;
  background-color: var(--secondary-color);
  height: 1px;
}
.mat-typography div,
.mat-typography p {
  font-family: "Amaranth", sans-serif;
}
.mat-typography h1 {
  font-size: 24px;
  font-family: "Amaranth", sans-serif;
}
.mat-typography h2 {
  font-size: 22px;
  font-family: "Amaranth", sans-serif;
}
.mat-typography h3 {
  font-size: 20px;
  font-family: "Amaranth", sans-serif;
}

*.focus,
*.active {
  outline: none !important;
}
