/* Global css  */


:root {
  --primary-color: #3f51b5;
  --secondary-color: #FFC05C;
  --text-color: #FFC05C;
  --alt1-text-color: #3f51b5;
  --alt2-text-color: #ffffff;
}

body.custom {
  margin: 0;
  background-color: var(--secondary-color);
  // font-family: 'Open Sans', sans-serif;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*.focus, *.active {
    outline: none !important;
}
