<div class="search-container">
  <form [formGroup]="searchGroup" (submit)="handleSubmit($event)">
    <input formControlName="search" placeholder="Search Brewery..." type="text" (focusout)="handleFocusOut()" [(ngModel)]="searchString">
    <div *ngIf="searching" class="spinner"><img src="assets/Spinner-0.5s-15px.gif"></div>
    <div *ngIf="!searching" class="spinner count">{{result_count}}</div>
  </form>
  <div class="predictive" [class.open]="isOpen">
    <div *ngFor="let brewery of result" class="result">
      <span [routerLink]="['/breweries', brewery.id]" >{{brewery.name}}</span>
    </div>
    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
  </div>
</div>